<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Count List</title>

        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarsExample02">
                <a class="navbar-brand" href="/home">Diet for You</a>
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipe">Diet Plans<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/countList">Count List<span class="sr-only"></span></a>
                </li>
                </ul>
            </div>
        </nav>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row">
              <div class="mt-4 mb-4 mx-auto" style="text-align:Left;">
                
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Food</th>
                                <th scope="col">Calories</th>
                                <th scope="col">Count</th>
                            </tr>
                        </thead>
                        {% for food in topFood %}
                        <tbody>
                            <tr>
                                <td>{{food.foodName}}</td>
                                <td>{{food.foodCal}}</td>
                                <td>{{food.num}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <br></br>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Count</th>
                            </tr>
                        </thead>
                        {% for people in users %}
                        <tbody>
                            <tr>
                                <td>{{people.user}}</td>
                                <td>{{people.num}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    
                </div>
            </div>
        </div>
    </body>
</html>
