<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Profile.html</title>
    <nav class="navbar navbar-expand navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="..\login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Personal Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">recipes</a>
      </li>
    </ul>
  </div>
</nav>
  </head>
  <body class="bg-light">
        <div class="container">

      <div class="row">

        <div class="mt-4 mb-4 mx-auto" style="text-align:center;">
        <h2>Profile</h2>

        <div class="mb-4 mx-auto" style="display: inline-block;">
          <form action="/profile/" method="POST">
              {% csrf_token %}
              <p>id : {{userId}}</p>
              <label for="input">name: </label>
              <input type="text" id="input" name="name"><br><br>
              <label for="input2">calories: </label>
              <input type="number" id="input2" name="cal"><br><br>
              <label for="input3">height: </label>
              <input type="number" id="input3" name="height"><br><br>
              <label for="input4">weight: </label>
              <input type="number" id="input4" name = "weight"><br><br>
              <label for="input5">daily exercise: </label>
              <input type="number" id="input5" name = "exercise"><br><br>
              <label for="input6">speical diet: </label>
              <select name="speicalDiet" id="input6">
              <option value="none">none</option>
              <option value = "ketogenic diet">ketogenic diet</option>
              <option value="vegetarian">vegetarian</option>
              </select><br><br>
              <label for="input7">age: </label>
              <input type="number" id="input7" name = "age"><br><br>
              <input type="submit" value="Submit">
              <input type="hidden" id="input0" name="pid" value = {{userId}}><br><br>
            </form>
</div>

</div>
    </div>
  </div>
</body>

      <footer class="my-5 pt-5 text-muted text-center text-small">

      </footer>
          <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
            <script src="form-validation.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
