<html>
    <h1>personal information</h1>
    <form action="/edit/updateInfo/" method="POST">
        {% csrf_token %}
        <p>id : {{info.id}}</p>
        <label for="input">name: </label>
        <input type="text" id="input" name="name" value={{info.name}}><br><br>
        <label for="input2">calories: </label>
        <input type="text" id="input2" name="cal" value = {{info.calories}}><br><br>
        <label for="input3">height: </label>
        <input type="text" id="input3" name="height" value = {{info.height}}><br><br>
        <label for="input4">weight: </label>
        <input type="text" id="input4" name = "weight" value = {{info.weight}}><br><br>
        <label for="input5">daily exercise: </label>
        <input type="number" id="input5" name = "exercise" value = {{info.dailyExtraConsume}}><br><br>
        <label for="input6">speical diet: </label>
        <select name="speicalDiet" id="input6" value = {{info.specialDiet}}>
        <option value="none">none</option>
        <option value="vegetarian">vegetarian</option>
        </select><br><br>
        <label for="input7">age: </label>
        <input type="number" id="input7" name = "age" value = {{info.age}}><br><br>
        <input type="submit" value="Submit">
        <input type="hidden" id="input0" name="pid" value = {{info.id}}><br><br>
      </form>
</html>